.products-description-view{
    height: auto;
    background-color: rgb(92, 89, 89);
    
}

.product-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem;
}

.product--description-image img {
    width: 35rem;
    max-height: 30rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-descrpition-details {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-description-name {
    font-size: 24px;
    margin: 0;
}

.product-description-description {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
}


