
/* Cambia el estilo del selector */
.select-gallery {
    background-color: wheat; /* Color de fondo */
    border: 0;
    border-radius: 5px; /* Borde redondeado */
    padding: 5px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    color: #333; /* Color del texto */
    cursor: pointer;
}



.option-gallery{
    background-color: #8b6847; 
    color: #beb3b3; 
}

select option:hover {
    background-color: wheat; 
    color:black
}