.image-container {
    width: 100%;
    overflow-x: scroll;
}
.image-gallery {
    display: flex; 
    white-space: nowrap; 
    padding: 1rem;
}
.imgs-gallery {
    width: auto;
    height: 25rem;
    margin: 2.3rem;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 1rem;
}
.imgs-gallery:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2rem 0.5rem rgb(150, 127, 102); 
}


::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
  }
  
  /* Estilos para la barra de desplazamiento horizontal (opcional) */
  ::-webkit-scrollbar-thumb:horizontal {
    background: rgb(150, 127, 102); 
  }
  
